langchain 
openai 
euriai
faiss-cpu 
streamlit 
pymupdf 
pdfplumber 
camelot-py[cv] 
tabula-py 
pytesseract 
pillow 
transformers 
torch 
sentence-transformers 
pandas 
numpy 
scikit-learn 
matplotlib
python-dotenv